
.app-wrapper {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-areas:
            'h h'
            'n m';
    grid-auto-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

.header {
    grid-area: h;
    background-color: rgb(218, 215, 215);
}

.header img {
    width: 120px;
}

.nav {
    grid-area: n;
    background-color: rgb(218, 215, 215);
}

.main {
    grid-area: m;
}

.main img {
    height: 400px;
}