.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

.dialogsItems {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    gap: 10px;
}

.dialog a {
    color: black;
}

.dialog a.active {
    color: #1c52e1;
    border: 1px solid;
    padding: 3px;
    border-radius: 5px;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.message {
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
}

.sendMessageForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
}

.messageArea {
    width: 75%;
    min-height: 40px;
    border-radius: 10px;
    background: #ffffff;
    border: none;
    padding: 8px 24px 12px;
    resize: none;
    font-size: 16px;
}

.sendMessageBtn {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #1c52e1;
    color: white;
    border: none;
    cursor: pointer;
}

.sendMessageBtn:disabled {
    background-color: #87aaff; /* Серый цвет фона */
    color: #ffffff; /* Серый цвет текста */
    cursor: not-allowed; /* Изменение курсора */
    /* Дополнительные стили при необходимости */
}

.error {
    border: 2px solid red;
}